In [3]:
# this is called Cell in Jupyter
# Shift + Enter to run the cell
print("Hello world")

Hello world

In [4]:
# a, b ,c are called variables
# no static time compilaton, no static typing
a = 10
b = 20
c = a + b

print(a, b, c)

10 20 30

In [5]:
# types
# no static type
# but dynamic / runtime type spported 
i = 10
f = 34.43
s = "Python3"
b = True # boolean type True and False

print (i, type(i))
print (f, type(f))
print (s, type(s))
print (b, type(b))

10 <class 'int'>
34.43 <class 'float'>
Python3 <class 'str'>
True <class 'bool'>

In [7]:
# conditions, blocks
# colon represent Block statements, similar to j/java/c++/c# curly brace{ }
# Use Indentation for block addressing

if (10 > 5):
    print ("10 is greater than 5")
    print ("5 is less than 10")
else:
    print("This won't print ")

This won't print

In [9]:
for i in range(5):
    print ('I', i)

I 0
I 1
I 2
I 3
I 4

In [12]:
# Line continuation
# option 1: using escape char \ at end of the line, no SPACE after \

1\
+\
2

3

In [13]:
# line continuation 
# option 2 using paranthesis ()

(
    1 
    +
    
    2
)

3

In [14]:
# Functions
# defined using def keyword
# function, a reusable block of code

def show():
    print ("Inside function")
    
show()

Inside function

In [16]:
def power(n):
    return n * n

m = power(10)

print(m)

print ( power(5) )

100
25

In [18]:
def add(a, b):
    return a + b

# python, by defualt pass parameters left to right

c = add(10, 20) # a = 10, b = 20
print(c)

30

In [19]:
# named arguments
# metion variable by name while passing arguments

c = add( a = 10, b = 20) # a = 10, b = 20
print(c)

c = add(b = 50, a = 25) # a = 25, b = 50

print(c)

30
75

In [26]:
# default arguments
# a is mandatory, b is optional with default
def sub (a, b = 0):
    return a - b

print( sub(10, 5)  ) # a = 10, b = 5

print ( sub (50) ) # a = 50, b = 0 due to default in functional declaration

def sum (a, c, b = 0 ): 
    return a + b + c

def mul(a, b, c = 1):
    return a * b * c

print( sum (10, 20) )

5
50
30

In [29]:
# Lambda
# annnoymous function,  1 line function

# def is the keyword useful to create function

div = lambda a, b: a / b

print (div (10, 20) )

# type of lambda, def are same, only that lambda can be annonymous

print( type (add))
print (type (div))

0.5
<class 'function'>
<class 'function'>

In [35]:
# write a function that basically sum the square of the numbers
# write a function that basically sum the cube of the numbers
# write a function that basically sum the sq rt of the numbers
# write a function that basically sum the numbers
# in python, functions are first class citizen/object, we can return, assign, pass functions as like object

# higher order functions, a function that accept another function
def sum(a, b, c, func):
    return func(a) + func(b) + func(c)

# a = 2, b = 3, v = 4
# func = lambda n: n * n
# func(2) + func(3) + func (4)
result = sum (2, 3, 4, lambda n: n * n) # no name given for lambda, annonymous
print(result)

result = sum (2,3,4, lambda n: n * n * n)
print(result)

# identity 2 + 3 + 4
result = sum (2,3,4, lambda n: n)
print(result)

import math

def sqrt(n):
    return math.sqrt(n)

result = sum (2, 3 ,4, sqrt)
print(result)

29
99
9
5.146264369941973

In [44]:
# list, [], collection, sequence of elements
# mutable, means we can change the values
names = ["python", "aws", "spark"]
numbers = [10, 20, 30, 40, 50]

print(numbers)
numbers.append(60)  # add new element
print(numbers)

numbers.remove(30) # remove element

print(numbers) # no 30 in the list

del numbers[1] # remove 20 from list, 1 represent array index

print (numbers)

numbers[0] = 5 # 0 represent starting index

print(numbers)

print("len", len(numbers))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]
[10, 40, 50, 60]
[5, 40, 50, 60]
len 4

TypeError: list expected at most 1 argument, got 4

In [46]:
# tuple, seq of elements, Immutbale, means once created, we cannot add, modify or delete items

# tuple or () 

t = (10, 20, 30)

print(t)
# you can crate a list from  tuple

l = list(t) # create a new list with all tuple elements

l2 = [20,30,40]

t2 = tuple(l2)

print(type(t2), type(t))

(10, 20, 30)
<class 'tuple'> <class 'tuple'>

In [53]:
ts1 = ("hello") # not tuple,  string
t1 = (10 ) #3  not tuple, int

print(type (ts1))
print(type(t1))

t1 = (10, )
print(type(t1))

t1 = 10,
print(type(t1))

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [55]:
def math1(a,b,type1):
    if(type1 == "add"):
        return a + b
    elif(type1 == "sub"):
        return a - b
    
print(math1(10,5,"add"))

15

In [58]:
# dictionary or map key/value pair
# key should be unique, there is an associative value to the key
# mutable

# IN, USA are keys
d = {"IN": "India", 
     "USA": "United States"}

print(d)
d["UK"] = "United Kingdom"
print(d)

d["UK"] = "Great Britain"

del d["USA"]

print(d)

{'IN': 'India', 'USA': 'United States'}
{'IN': 'India', 'USA': 'United States', 'UK': 'United Kingdom'}
{'IN': 'India', 'UK': 'Great Britain'}